extends layout

block content
  div.container
    div.col-sm-6.col-md-6.col-md-offset-3
      div.jumbotron
        if house
          include navbar
          h2 <b>Edit #{house.name}</b>
         p
          input.form-control(type='text', name='name', placeholder=#{house.name})
          p
            //- input.form-control(type='textarea', name='description', placeholder='Description')
            //- br
            br
            div.row
              p max tenents 
              input(type='number', name='max tenents', placeholder=#{house.maxRenters})
            textarea(id="theTextarea" class="form-control" rows="3" placeholder=#{house.description})
            br
            
            input#inputstoreImage(type="file",placeholder="storeimage" name="image")
            br      
            button(type='submit')#btn-create.btn.btn-success
              i.icon-lock.icon-white
              | Create

          #message
            if message
              h3.text-center.error-message #{message}