extends layout

block content
  div.container
    div.col-sm-6.col-md-6.col-md-offset-3
      div.jumbotron
        include navbar
        if house
          form(method="post" action="/modifyRental")#house-form.well.span4
            h2 <b>Edit Listing for #{house.name}</b>
            p
              <b>House Name</b> 
              input.form-control(type='text', name='houseName' value=house.name)
            p
              <b>Address</b> 
              input.form-control(type='text', name='addr' value=house.addr)
            p 
              <b>Maximum tenants</b> 
              input(type='number', name='maxt', value='#{house.maxRenters}')
             p 
              <b>Price</b> 
              input(type='number', name='price', value='#{house.price}')
            p
              <b> House description </b>
              textarea(name="description" class="form-control" rows="3" placeholder='#{house.desc}')
              
            input(name="id", value=house._id, type='hidden')  
            br      
            button(type='submit')#btn-create.btn.btn-success
              i.icon-lock.icon-white
              | Save Changes
        else 
          h2 <b>500 Error : House not found</b> 


        #message
          if message
            h3.text-center.error-message #{message}