extends layout
block content
    include navbar
    div.container
      table.table
        thead
          tr 
            th Firstname
            th Lastname
            th Email
            th username
            th rating
            th delete
        tbody
          form(name=modifyUser, action="/modifyUser", method="post")
            each user, index in users
              tr
                td(class="hide")
                  input(id='modUser' + index, name="modUser", value=0)
                td(class="hide")  
                  input(name="id", value=user._id)
                td  
                  input(type="text", name=firstName, value=user.firstName readonly)
                td  
                  input(type="text", name=lastName, value=user.lastName readonly)
                td  
                  input(type="text", name=email, value=user.email readonly)
                td  
                  input(type="text", name=username, value=user.username readonly)
                td  
                  input(id=index type="text", onFocus="showBtn();modifyUser(this.id)", name="rating", value=user.rating)
                td(class="hide")
                  input(id='delUser' + index, name="delUser", value=0)
                td  
                  input(id=index, type="checkbox", name="delete",onClick="showBtn(); toggleDelUser(this.id);", checked=false)
            tr  
              td 
                input(id='btn', class="hidden btn-default", type="submit", value="update")



    footer
      p &copy; 2014 Spanish Inquisition