extends layout

block content
  include navbar
  div.container
    div.col-sm-6.col-md-6.col-md-offset-3
      div.jumbotron
        if user
          h2 <b>#{user.firstName} #{user.lastName}</b>
          p
            ul.user-details
              li Rating ---> #{average} (Total Ratings: #{user.evaluations})
          p Rate this user
          p
            form(method='post' action="/user/#{rid}")#register-form.well.span4
              input(type="radio", name="rating", value="1")
              |1
              input(type="radio", name="rating", value="2")
              |2
              input(type="radio", name="rating", value="3")
              |3
              input(type="radio", name="rating", value="4")
              |4
              input(type="radio", name="rating", value="5")
              |5
              <br><br>
              input(class="btn btn-success" type="submit")
        else
          p This profile is private.