extends layout

block content  
    if user
            include navbar
            h2 <b> #{user.username}</b>
            p
              ul.user-details
                if current_user != user
                    li Email    ---> #{user.email}
                li First Name ---> #{user.firstName} 
                li Last Name ---> #{user.lastName}
                li Rating ---> #{rating} (Total Ratings: #{user.evaluations})

            if current_user
                p Rate this user:
                input(type="radio", name="rating", value="1", checked=average>=1)
                |1
                input(type="radio", name="rating", value="2", checked=average>=2)
                |2
                input(type="radio", name="rating", value="3", checked=average>=3)
                |3
                input(type="radio", name="rating", value="4", checked=average>=4)
                |4
                input(type="radio", name="rating", value="5", checked=average==5)
                |5
            
    else
        p This profile is private.