extends layout

block content
  include navbar
  div.container
    div.col-sm-6.col-md-6.col-md-offset-3
      div.jumbotron
        if user
          h2 <b>#{user.firstName} #{user.lastName}</b>
          p
            ul.user-details
              li First Name ---> #{user.firstName} 
              li Last Name ---> #{user.lastName}
              li Rating ---> #{user.rating} (Total Ratings: #{user.evaluations})
          p Rate this user
          p
            input(type="radio", name="rating", value="1", checked=average>=1)
            |1
            input(type="radio", name="rating", value="2", checked=average>=2)
            |2
            input(type="radio", name="rating", value="3", checked=average>=3)
            |3
            input(type="radio", name="rating", value="4", checked=average>=4)
            |4
            input(type="radio", name="rating", value="5", checked=average==5)
            |5
            input(type='submit',value='Submit')  
        else
          p This profile is private.