extends layout
block content

    h2 <b>Rental Agreement</b>

    if owner, user, house, date, id
        p This certifies that #{user} is renting #{house} which is owned by #{owner} on #{date}.


        form(method="post" action='/rentaccept')
            input(name="id", value=id, type='hidden')
            input(class = 'btn btn-default',type='submit' value='Accept') 
        form(method="get" action='/home')
            input(class = 'btn btn-default',type='submit' value='Decline') 
          Decline
    else
      h3 Error  
